@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: #415865;
}

a:visited {
  color: #545454;
}

a:hover {
  color: #7A9EB1;
}

a:active {
  color: #FFE1B6;
}



body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  background: #F9F8EB; 
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}