.avatar {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.avatar img {
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #7A9EB1;
  width: 100%;
  height: 100%;
  object-position: center top;
  object-fit: cover;
}