.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
}

.form-control .checkboxx label{
    color: purple
}

.form-control label {
    color: black;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.form-control .button label{
    color: purple
}


.form-control input,
.form-control textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    background: #F9F8EB;
    border-color: #415865;
}

.form-control--invalid {
    color: #f34343;
}
.form-control--invalid li{
    font-size: 0.75rem;
    font-style: italic;
}

.form-control--invalid input,
.form-control--invalid textarea {
    border-color: #f34343 !important;
    background: #ffdfd9;
}

.form-control .checkbox,
.checkbox,
.checkbox div {
    display: inline-flex;
    margin-left: 2px;
    margin-right: 5px;
    text-align: left;
}

.checkbox input{
    margin: 5px;
}