.quote-item {
  margin: 1rem 0;
  min-width: 100%;
  
}

.quote-item__content {
  padding: 0;
}

.quote-item__info {
  padding: 1rem;
  text-align: center;
  background-color: #ffffff88;
}

.quote-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.quote-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.quote-item__info h2,
.quote-item__info h3,
.quote-item__info p {
  margin: 0 0 0.5rem 0;
}

.quote-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  background-color: #ffffff88;

}

.quote-item__modal-content {
  padding: 0;
}

.quote-item__modal-actions {
  text-align: right;
}

.quote-item__actions button,
.quote-item__actions a {
  margin: 0.5rem;
}


@media (min-width: 768px) {
  .quote-item__image {
    height: 30rem;
  } 
}